{{!
 *  Project:    sfw2-menu
 *
 *  Copyright (C) 2019 Stefan Paproth <pappi-@gmx.de>
 *
 *  This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as
 *  published by the Free Software Foundation, either version 3 of the
 *  License, or (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 *  GNU Affero General Public License for more details.
 *
 *  You should have received a copy of the GNU Affero General Public License
 *  along with this program. If not, see <http://www.gnu.org/licenses/agpl.txt>.
 *
}}
<li>
    {{#if subitems}}
    <span class="caret">
        <!--<i class="far fa-plus-square"></i>-->{{name}}</span>
    {{else}}
    {{name}}
    {{/if}}

    <button
        type="button"
        class="btn btn-outline-secondary btn-sm"
        data-toggle="modal"
        data-target="#deleteDialogModal"
        data-url="{{url}}"
        data-item-id="{{id}}"
        data-form-id="{{formid}}"
    >-</button>
    <button
        type="button"
        class="btn btn-outline-secondary btn-sm"
        data-toggle="modal"
        data-target="#createDialogModal"
        data-url="{{url}}"
        data-form-id="{{formid}}"
    >+</button>
    <button
        type="button"
        class="btn btn-outline-secondary btn-sm"
        data-toggle="modal"
        data-target="#createDialogModal"
        data-url="{{url}}"
        data-item-id="{{id}}"
        data-form-id="{{formid}}"
    >+</button>
    <!--
    <i class="far fa-file"></i>
    <i class="far fa-edit"></i>
    <i class="far fa-trash-alt"></i>
    -->
    {{#if subitems}}
    <ul class="nested treeview">
        {{#each subitems}}
        {{> PathEdit url=this.url formid=this.formid }}
        {{/each}}
    </ul>
    {{/if}}
</li>
